
{% include "header.html" %}

  <div class="flex-container">
    <div class="card" style="width: 18rem;">
      <img src="/static/assets/Anita_blue_front.jpg" class="card-img-top" alt="Anita Gandhi">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p></p>
        <button class="btn btn-success">Success</button>
      </div>
      <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>

{% include "footer.html" %}
